# Database Configuration
POSTGRES_DB=hris_db
POSTGRES_USER=hris
POSTGRES_PASSWORD=hris
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

# Mailtrap Configuration
MAIL_SERVICE=
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USERNAME=resend
MAIL_PASSWORD=re_xxxxxxxx
EMAIL_USER="John Doe <john.doe@example.com>"

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_ACCESS_SECRET=change-this-to-a-strong-random-secret-key-minimum-32-characters
JWT_REFRESH_SECRET=change-this-to-a-strong-random-secret-key-minimum-32-characters
# 1 jam
ACCESS_TOKEN_EXPIRES_IN=1
# 30 hari
REFRESH_TOKEN_EXPIRES_IN=30